---
layout: default
---

<div class="sticky-info">
  <h2>Welcome to Maptime Boulder!</h2>
  We are a group of map enthusiasts that meet regularly in Boulder, Colorado!

  You can always find us at: <br>
  <p span style="text-align:center"><a class="button fill-red" href="http://meetup.com/Maptime-Boulder">meetup.com/Maptime-boulder</a></span>
  <br><br>
  <h3>Check out some of the latest resources we've compiled:</h3>
  <ul>
    <li><a href="http://learnosm.org/en/">Getting started with OpenStreetMap</a></li>
    <li><a href="https://www.mapbox.com/blog/osm-mapping-guide/">Getting Started with JOSM</a></li>
    <li><a href="http://www.townsendjennings.com/github-101/gh-pages/#/">GitHub Pages 101</a></li>
  </ul>
</div>


<h2>Upcoming Events</h2>
<!-- This loops through the paginated posts -->
{% for item in paginator.posts%}
<div class='space-bottom4'>

  {% if item.category == 'event' %}
    {% if item.date > site.time %}
      <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
      {{item.content}}

      {% if item.when == "TBD" %}
        <div class='keyline-all round pad2 col12 clearfix' style="text-align:center;">
           <span class='quiet'>Date to be determined!</span>
        </div>
      {% else %}
        <div class='keyline-all round pad2 col12 clearfix'>
          <div class='col8 pad0y'>
            Join us: <span class='quiet'>{{item.date | date:"%A, %b %d %Y"}}</span>
          </div>
          <div class='col4'>
            <a class='button fill-orange block' href='{{item.rsvp}}'>RSVP</a>
          </div>
        </div>

      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endfor %}

<h2>Past Events</h2>
<!-- This loops through the paginated posts -->
{% for item in paginator.posts%}
<div class='space-bottom4'>

  {% if item.category == 'event' %}
    {% if item.date < site.time %}
      <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
      {{item.content}}

        <div class='keyline-all round pad2 col12 clearfix'>
          <div class='col8 pad0y'>
            Event Date:  <span class='quiet'>{{item.date | date:"%A, %b %d %Y"}}</span>
          </div>
          <div class='col4'>
            <a class='button fill-orange block' href='{{item.rsvp}}'>Link to Meetup</a>
          </div>
        </div>

    {% endif %}
  {% endif %}
</div>
{% endfor %}

<!-- Pagination links -->
<div class='col12 center small strong space pad2y'>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href='{{site.baseurl}}/' class='button fill-blue icon left-arrow'>Newer</a>
    {% else %}
      <a href='{{site.baseurl}}/page{{ paginator.previous_page }}' class='button fill-blue icon left-arrow'>Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href='{{site.baseurl}}/page{{ paginator.next_page }}' class='button fill-blue rcon right-arrow'>Older</a>
  {% endif %}
</div>
